# Time series models to forecast the walmart dataset

In this notebook we are going to try to predict the weekly Walmart sales using time series models.

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
data = pd.read_csv('data/walmart_clean.csv', parse_dates=['Date'])
data.head()

,Store,Size,Date,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday,Dept,Weekly_Sales,Week,Month,Year,Type_A,Type_B,Type_C
0,1,151315,2010-02-05,42.31,2.572,211.096358,8.106,0,1,24924.50,5,2,2010,1,0,0
1,35,103681,2010-02-05,27.19,2.784,135.352461,9.262,0,3,14612.19,5,2,2010,0,1,0
2,35,103681,2010-02-05,27.19,2.784,135.352461,9.262,0,4,26323.15,5,2,2010,0,1,0
3,35,103681,2010-02-05,27.19,2.784,135.352461,9.262,0,5,36414.63,5,2,2010,0,1,0
4,35,103681,2010-02-05,27.19,2.784,135.352461,9.262,0,6,11437.81,5,2,2010,0,1,0

In [5]:
data.shape

(420212, 16)